* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Sora", "Hind Siliguri";
}

body {
    color: #000 !important;
    cursor: none;
}

a {
    text-decoration: none !important;
}

:root {
    --header-font: "Hind Siliguri";
    --text-font: "Sora", sans-serif;
    --header-color: #dd0000;
    --text-color: #000;
}


/* Hero Section Start */
.web-hero {
    background: linear-gradient(81deg, #FFDCDC 0%, #FFF 100%);
    width: 1920px;
    height: 860px;
    flex-shrink: 0;
    width: 100%;
    padding: 80px 0;
    margin-top: 70px;
}

.web-hero-content img {
    width: 60%;
}

.web-hero-info {
    margin: 50px 0;
    padding-right: 60px;
    line-height: 200%;
}

.web-hero-content a {
    color: #FFF;
    padding: 13px 30px;
    flex-shrink: 0;
    border-radius: 50px;
    background: linear-gradient(151deg, #DD0606 17.97%, #FF9696 100.35%);
}

.web-hero-content a:hover {}

.web-hero-content a i {
    margin-left: 15px;
}

.web-hero-img img {
    width: 85%;
}

.web-hero-img {
    float: right;
    text-align: right;
}

/* Hero Section End */